defaults: &defaults
  docker:
    - image: opuscapita/minsk-core-ci:grails-2.4.4-jdk-8u131-nodejs-8.9.4-maven-3.3.9
  working_directory: ~/build

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - run:
          name: Environment inject.
          command: env_inject.sh

      - checkout

      - restore_cache:
          keys:
            - react-buttons-{{ .Branch }}-{{ checksum "package.json" }}
            - react-buttons-{{ .Branch }}
            - react-buttons

      - run:
          name: "Installing dependencies."
          command: yarn install

      - save_cache:
          key: react-buttons-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
              - ./node_modules
              - ./yarn.lock

      - run:
          name: "Running lint."
          command: npm run lint

  build_release:
    <<: *defaults
    steps:
      - run:
          name: Environment inject
          command: /bin/env_inject.sh

      - checkout

      - restore_cache:
          keys:
            - react-buttons-{{ .Branch }}-{{ checksum "package.json" }}
            - react-buttons-{{ .Branch }}
            - react-buttons

      - run:
          name: "Installing dependencies."
          command: yarn install

      - save_cache:
          key: react-buttons-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
              - ./node_modules
              - ./yarn.lock

      - run:
          name: "Running lint."
          command: npm run lint

      - run:
          name: "Deploy."
          command: npm run publish-release


  release:
    <<: *defaults
    steps:

      - run:
          name: Environment inject
          command: env_inject.sh

      - checkout

      - run:
          name: Executing release scrtipt.
          command: .circleci/release.sh

workflows:
  version: 2
  release-and-build:
    jobs:
      - release:
          filters:
            branches:
              only: release
      - build:
          filters:
            branches:
              ignore: release
      - build_release:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
