@import 'Button.h.module.less';

.altContent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.button {
  align-items: center;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  text-transform: uppercase;
  display: inline-flex;
  font-weight: 600;
  padding: 4px 16px;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button:hover::before {
  .overlay();
}

.button:hover:active::before {
  content: initial;
}

.button:focus > .content {
  .blink(280ms);
}

.button:active > .content,
.button:hover:focus > .content {
  animation: none;
}

.content {
  display: inline-flex;
  align-items: center;
}

.children {
  align-items: center;
  display: inline-flex;
}

.delimiter {
  width: 0.4em;
}

.disabled:hover::before,
.disabled:focus::before,
.disabled:focus:active::before,
.disabled::before {
  content: initial;
}

.disabled::after,
.disabled:focus:active::after,
.disabled:hover:focus:active::after {
  .overlay--disabled();
}

.disabled:hover {
  cursor: not-allowed;
}

.disabled:focus > .content {
  animation: none;
}

.label::selection {
  background-color: transparent;
}

.paper {
  .paper-shadow();
}

.paper:focus:active:not(.disabled) {
  .paper-shadow--raised();
}
